@import '~antd/dist/antd.css';

.graph-article-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.graph-header {
    margin-top: 3rem;
}

.graph {
    height: 25rem;
    width: 70%;
    float: left;
}

.graphCenter {
    height: 25rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.articles {
    width:  30%;
    float: left;
}

.close-articles {
    margin-right: 10px;
}
.close-articles:hover {
    opacity: .5;
}

.selectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slim-container {
    margin: 0 auto;
    width: 60%;  
}

.space {
    height: 1rem;
}

.topic-cards {
    padding-bottom: 4rem;
}